*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.container{
    background: linear-gradient(135deg, #153677, #4E085F);
    width: 100%;
    height: 100vh;
    padding: 10px;
}
.container-app{
    background-color: #fff;
    width: 100%;
    max-width: 600px;
    margin: 100px auto 40px;
    padding: 20px 20px 50px;
    border-radius: 10px;
}
.container-app h2{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    margin-top: 20px;

}
.container-app h2 img{
    width: 30px;
    margin-left: 10px;
}
.container-search-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #edeef0;
    padding-left: 20px;
    margin-bottom: 30px;
    border-radius: 30px;
}
.container-search-box input{
    flex: 1;
    border: none;
    outline: none;
    background-color: transparent;
    padding: 10px;
    font-size: 16px;
}
.container-search-box button{
    border: none;
    outline: none;
    background-color: #ff5945;
    color: white;
    padding: 14px 30px;
    font-size: 14px;
    border-radius: 40px;
    cursor: pointer;
}
.container-search-box button:hover{
    background-color: #f07365;
    
}
ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;;
}
ul li span{
    width: 40px;
    height: 40px;
    position: absolute;
    right: 0;
    top: 5px;
    line-height: 40px;
    text-align: center;
    font-size: 22px;
    border-radius: 50%;
    color: #555;
}
ul li span:hover{
    background-color: #edeef0;
}
ul li::before{
    content: '';
    background-image: url(images/unchecked.png);
    width: 28px;
    height: 28px;
    border-radius: 50%;
    position: absolute;
    background-size: cover;
    background-position: center;
    top: 8px;
    left: 8px;
}
ul li.task-checked{
    color: #555;
    text-decoration: line-through;
}
ul li.task-checked::before{
    background-image: url(images/checked.png);
}